.AirQuality{
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    margin-bottom: 3em;
    width:100%;
    justify-content: center;
} 

@media only screen and (max-width: 600px) {
    .AirQuality{
        flex-direction: column;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .AQIValue{
        margin: 1% auto 2% auto !important;
    }
    .LocationInfo{
        text-align: center !important;
    }
}

.AQIValue{
    display: flex;
    flex-direction: column;
    margin: auto 10% auto 2%;
    /* margin-right: 10%;
    margin-left: 2%; */
    font-size: x-large;

}

.LocationInfo{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 2%;
    margin-left: 10%;
}

.Green{
    color: green;
}
.Yellow{
    color: #F1DB00;
}
.Red{
    color: red;
}
.Orange{
    color: orange;
}
.Purple{
    color: purple;
}

.Maroon{
    color: maroon;
}

.Green, .Yellow, .Red, .Orange, .Purple, .Maroon{
    font-weight: bold;
}