.PageWrapper{
    display: flex;
    height:100%;
    flex-direction: column;
    position: relative;
    align-items: center;
    background: url('../../public/images/25501.jpg');
    background-size: cover;
}

.AirQualityContainer{
    display: flex;
    justify-content: center;
    width: 68%;
    margin-top: 2%;
    background: white;
    box-shadow: 1px 1px 1px black;
    border-radius: 2em;
}

@media only screen and (max-width: 600px){
    .AirQualityContainer{
        width: 80%;
    }
}